.merr{
 background-color: blue;
}
.fit-image{
width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}

p{
 color:red;
 font-family: Perpetua, serif;
}

#nav-placeholder .navbar{
  position:fixed;
  width: 200px;
  z-index: 1000;
  left: 0;
  top: 0;
  border-right: 1px solid #162636;
  height: 100%;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

