


.merr{
 background-color: blue;
}
.fit-image{
width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}

p{
 color:red;
 font-family: Perpetua, serif;
}




.wrapper {
    display: block;
	margin-left:250px;
	height:100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}



.navButton{
    display: none;
  }


/* The Modal (background) */
.modal {
  margin-left:100px;
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */ 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .navButton{display:block;
  width:100%}
  
  #sidebar {
    display: none;
	width:100%;
	text-align:center;
  }
  .modal{
	margin-left:0;
  }
 
  
  .wrapper {margin-left: 0;}
}

@media screen and (min-width: 900px) {
  .navButton{display:none}
  #sidebar {
    display:block;
  }
}