.merr{
	background-color: blue;
}

.fit-image{
	width: 100%;
	object-fit: cover;
	height: 300px; /* only if you want fixed height */
}

.content{
	margin-left:0px;
}

.wrapper {
    display: block;
	margin-left:250px;
	height:100%;
	width:100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.navButton{
    display: none;
  }


/* The Modal (background) */
.merrModal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none; /* Hidden by default */
	z-index: 1000; /* Sit on top */ 
	
}
#modalImage{
	min-height:300px;
	max-height:1000px;
	height:100%;
}

.modal-content {
	color:black;
	
	padding: 20px;  
	border: 1px solid #888;
}

#modalTitle{
	font-weight: bold;
	text-align:center;
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.modalbtn{
	cursor: pointer;

}
#meerCarousel{
	display:none;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 900px) {
	.navButton{
		display:block;
		width:100%
	}
	
	#sidebar {
		display: none;
		width:100%;
		text-align:center;
	}
	
	.headingRow{
		text-align:center;
	}
	
	.carouselImage{
		display: flex;
		width:100%!important;
		 
		
	}
	.carousel-inner{
		height:100%;
		display: flex;		
	}
	
	#meerCarousel{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top:50%;
		margin-bottom:50%;
		height:600px;
	}
	
	.thumbnails{
		display:none;
	}
  
	.wrapper {
		margin-left: 0;
		position: absolute;
		top: 0px; /* Header Height */
		bottom: 20px; /* Footer Height */
	}
	
	.content{
		margin-left: 0;
		position: absolute;
		top: 20px; /* Header Height */
		bottom: 20px; /* Footer Height */
	}
	
}

@media screen and (min-width: 900px) {
	.navButton{
		display:none
	}
	#sidebar {
		display:block;
	}
}

.Main-Div {
    position: relative;
    left: -9999px;
}

.Inner-Div {
    position: relative;
    left: 9999px;
}